[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = ">=7.0"
flask = "==2.3.2"
werkzeug = "==2.3.6"
flask-sqlalchemy = "==3.0.3"
psycopg2-binary = "==2.9.6"
sqlalchemy = "==2.0.16"
flask-migrate = "==4.0.4"
email-validator = "==2.0.0.post2"
flask-wtf = "==1.1.1"
wtforms = "==3.0.1"
gevent = "==22.10.2"
gunicorn = ">=19.9.0"
supervisor = "==4.2.5"
flask-static-digest = "==0.4.0"
flask-bcrypt = "==1.0.1"
flask-login = "==0.6.2"
flask-caching = ">=2.0.2"
flask-debugtoolbar = "==0.13.1"
environs = "==9.5.0"

[dev-packages]

[requires]
python_version = "3.11"
